.page--not-found {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__main--not-found {
  padding-top: 11px;

  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.not-found__status {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 1.1875;
}

.not-found__status-wrapper {
  width: 420px;
  margin-top: 16.7vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  text-align: center;
  background-image: url("../img/not-found.svg");
  background-size: 90px 103px;
  background-position: center top;
  background-repeat: no-repeat;
}
